body {
    
}
/* preloader */
#preloader {
    position: fixed;
    top:0; left:0;
    right:0; bottom:0;
    background: #000;
    z-index: 100;
}
#loader {
    width: 100px;
    height: 100px;
    position: absolute;
    left:50%; top:50%;
    /* background: url(img/loader.gif) no-repeat center 0; */
    margin:-50px 0 0 -50px;
} 