
.calendar {
	max-width: 50%;
    margin: 0 auto;
}

.fc-scroller {
   overflow-y: hidden !important;
}

/* File-uloade type */

.filetype {
  position: relative;
  display: inline-block;
  vertical-align: top;
  *margin-right: 4px;
}

.filetype * {
  vertical-align: middle;
}

.filetype .file-text {
  position: relative;
  width: 170px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  background-color: #ecefef;
  margin: 0;
  border: 1px solid #cdd3d4;
  line-height: 20px;
  z-index: 10;
}

.filetype .file-select {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  overflow: hidden;
}

.filetype .file-select .input-file {
  width: 60px;
  filter: alpha(opacity=0);
  opacity: 0;
  height: 20px;
}

.filetype .file-text + .file-btn {
  display: inline-block;
  background-color: #292929;
  height: 22px;
  line-height: 22px;
  padding: 0 15px;
  color: #fff !important;
  cursor: pointer;
  *margin-left: 4px;

}

