#footer {
	height: 100px;
	clear: both;
	position: center;
}


#header {
	height: 100px;	
}


#content {	
	float: both;
	width: 720px; /*755-35*/
	padding-left:35px;
	padding-top:45px;
	position:relative;	
}



